<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h1>登录</h1>
        <form action="/users/login" method="post">
            <div class="form-group">
                <label for="exampleInputEmail1">用户名：</label>
                <input type="text" class="form-control" name="usname" placeholder="用户名">
            </div>
            <div class="form-group">
                <label>密码：</label>
                <input type="password" class="form-control" name="password" placeholder="密码">
            </div>
            <div>
                <input type="submit" value="登录" class="btn btn-success">
                <span>没有账号</span>
                <a href="/register">立即注册</a>
            </div>
        </form>
    </div>
</body>

</html>